<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_aeCVyUtZJyM5sPAemxlRo5nn8kDdHgU</string>
	<key>GCM_SENDER_ID</key>
	<string>87358368284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodiesHaven</string>
	<key>PROJECT_ID</key>
	<string>foodieshaven-1d7e3</string>
	<key>STORAGE_BUCKET</key>
	<string>foodieshaven-1d7e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87358368284:ios:7bc85e9240176c53f64dd9</string>
</dict>
</plist>